{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 20%; position:absolute;">
  <span class="fs-4 mx-3">Saved Notes</span>
  <hr>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'notes:create' %}" class="nav-link" aria-current="page">
        Create New Note
      </a>
    </li>
    <hr>
    {% for name in notes_names %}
    <li class="nav-item">
      <a href="{% url 'notes:notes' note_id=name.id %}" class="nav-link" aria-current="page">
        {{ name.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <hr>
</div>

<div class="container" style="max-width: 700px; text-align: center; margin:0 auto;">
  <h1>Note</h1>
  <div class="card">
    <form id="main_form" class="m-3" method="POST">
      {% csrf_token %}
      <table class="table table-borderless w">
        <tr>
          <td>{{ form.name }}</td>
          <td class="px-1" style="width:10%"><button class="btn btn-primary" type="submit"
              style="width:100%">Save</button></td>
          <td class="px-1" style="width:10%"><button class="btn btn-primary" type="submit"
              style="width:100%">Close</button></td>
        </tr>
        <tr>
          <td colspan="3">{{ form.text }}</td>
        </tr>
      </table>
    </form>
  </div>

</div>
<script>
  function SubmitForm() {
    $.ajax({
      type: 'POST',
      url: "{% url 'notes:update' notes_id=form.instance.id %}",
      data: {
        name: $('#id_name').val(),
        text: $('#id_text').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
    })
  }
</script>
<script>
  $(document).ready(function () {
    setInterval(SubmitForm, 60000);
  })
</script>
<script>
  var timeout;
  $('#id_text').on('keyup', function () {
    if (timeout) { clearTimeout(timeout); }
    timeout = setTimeout(SubmitForm, 5000);
  })
</script>

{% endblock content %}
